@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2{
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
body{
  height: 100vh;
 background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
 /* position: fixed; */
 background-repeat: no-repeat;
}
.social{

  margin-top: 50vh;
  margin-left: 80%;
}
.kk{
width: 15vh;
  height: 15vh;

}
.ans{
  width: 20%;
  margin-left: 38%;
}
@media only screen and (max-width: 600px) {
  body{
    height: 100vh;
    width: 100%;
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
   /* position: fixed; */
   background-repeat: no-repeat;
  }
  .social{
    margin-top: 45vh;
        margin-left: 26%;
  }
  .ans {
   
    width: 60%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
  }
}
/* @media only screen and (max-width: 360px) {
  .social{
    margin-top: 58vh;
    margin-left: 22%;
  } */


